<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <input type="text" id="pid" />
    <button onclick="handleStart()">start process</button>
    <button onclick="handleKill()">kill process</button>
    <button onclick="handleSuspend()">suspend process</button>
    <button onclick="handleResume()">resume process</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        const pidEl = document.getElementById('pid')

        const handleStart = () => {
            console.log("start", pidEl.value)
            socket.emit("start_process", {id: pidEl.value})
        }

        const handleSuspend = () => {
            console.log("suspend", pidEl.value)
            socket.emit("suspend_process", {id: pidEl.value})
        }

        const handleResume = () => {
            console.log("resume", pidEl.value)
            socket.emit("resume_process", {id: pidEl.value})
        }

        const handleKill = () => {
            console.log("kill", pidEl.value)
            socket.emit("kill_process", {id: pidEl.value})
        }


        var socket = io();

        socket.on('connect', function () {
            console.log("connected")
        });

        socket.on('disconnect', function () {
            console.log("disconnected")
        });

    </script>
</body>

</html>
